<div id="user_nav">  
  <% if user_signed_in? %>
    
    <div class="btn-group">
   	 <button class="btn btn-default  btn-black dropdown-toggle" data-toggle="dropdown"><i class=" glyphicon glyphicon-user"></i></button>
     <ul class="dropdown-menu pull-left">
      <% if allow? "taxonomies", "index" %>
        <li>
           <%= link_to t("taxonomies.taxonomies"), taxonomies_path %>
        </li>
      <% end %>
        <% if allow? "memberships", "index" %>
        <li>
           <%= link_to t("memberships.members"), memberships_path %>
        </li>
      <% end %>
      <% if allow? "admins", "index" %>
        <li>
           <%= link_to t("admins.admins"), admins_path %>
        </li>
      <% end %>

      <li><%= link_to "users.my_profile".t, edit_user_registration_path %></li>
    		<li><%= link_to "users.sign_out".t , destroy_user_session_path, :method => :delete %></li>
    		
        	
     </ul>
    </div><!-- /btn-group -->
   
      
      
    

   
  <% else %>  


    <%= link_to "Sign up", new_user_registration_path %> or  
    <%= link_to "Sign in", new_user_session_path %>  
  <% end %>  
</div>  