

<%= form_for @poll do |t| %>
  	<div class="form-group col-md-7 col-xs-12">
		<%= t.label :title %>
		<%= t.text_field	 :title , :class => "form-control" %>
		<%= t.label :description  %>
		<%= t.text_area :description  , :class => "form-control"  %>

		<%= t.label  	:start_date %>
		<%= t.datetime_local_field :start_date,  :class => "form-control"  %>

		<%= t.label  	:end_date %>
		<%= t.date_field :end_date,  :class => "form-control"  %>

		<%= t.time_select :end_date, :ignore_date => true %>
		<%= t.label  	:time %>
		<hr>
		<p><%= "polls.questions".t %></p>
		<ul id="questions">
			<%= t.fields_for :questions do |f| %>

				<li class="old_question">

				  <%= f.label :matter, "Question" %><br />
				  <div class="input-group">
					  	<%= f.text_field :matter,:class => "form-control" %><br />
						<%= f.hidden_field :_destroy , :class => "destroy"%>
						<div class="input-group-btn">
							 <%= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, "#", :class => "remove_old_question  btn btn-warning " , :title => "questions.remove_question".t %>
						</div>
					</div>

				  

				</li>

			<% end %>
			
		</ul>


		<%= link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, "#",:id => "add_question",:title => "polls.add_question".t, :class => "btn btn-default btn-small ", :data =>{"no-turbolink" => "true"} %>
	
		<hr>

<%= terms_field_for 1 , @poll %>
		<hr>
		<%= t.submit "global.save".t , :class => "btn btn-default btn-primary"  %>
	</div>



<% end %>



  <script type="text/html" id="poll_question">


  		<li class="new_question">
  		  <label for="poll_questions_attributes_{{random}}_matter"><%= "questions.matter".t %></label><br />
	  		<div class="input-group">

			  			
				  <input id="poll_questions_attributes_{{random}}_matter" name="poll[questions_attributes][{{random}}][matter]"  type="text" class="form-control"  />
				 <div class="input-group-btn">
			    	<%= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, "#", :class => "remove_new_question  btn btn-warning " , :title => "questions.remove_question".t %>
			  	</div>
		</div>

		</li>

</script>

<% flash.now[:error] = render 'layouts/shared/error_messages', :target=>@poll if @poll.errors.any? %>

<%= content_for :footer_scripts do %>
	<script >

		$(document).ready(function(){
			window.Questionnaire = new TdB.PollBuilder();

		})

	</script> 
<% end %>
