

<%= form_for @poll do |t| %>
  	<div class="form-group col-md-8 col-xs-12">
		<%= t.label :title %>
		
		<%= t.text_field	 :title , :class => "form-control" , placeholder: :title %>
		<%= t.label :description  %>
		<%= t.text_area :description  , :class => "form-control"  %>

		<%= t.label  	:start_date %>
		<%= t.date_field :start_date,  :class => "form-control"  %>

		<%= t.label  	:end_date %>
		<%= t.date_field :end_date,  :class => "form-control"  %>

		

		<hr>



		<p><%= "polls.questions".t %></p>
		<ul id="questions" >
			<%= t.fields_for :questions do |f| %>

				<li class="old_question" >

				  
				  <div class="input-group">
					  	<%= f.text_field :matter,:class => "form-control" , placeholder: "questions.write_your_question".t %><br />
						<%= f.hidden_field :_destroy , :class => "destroy"%>
						<div class="input-group-btn">
							 <%= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, "#", :class => "remove_old_question  btn btn-warning " , :title => "questions.remove_question".t %>
						</div>
					</div>

				  

				</li>

			<% end %>
			
		</ul>


		<%= link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, "#",:id => "add_question",:title => "polls.add_question".t, :class => "btn btn-default btn-small ", :data =>{"no-turbolink" => "true"} %>
	
		<hr>
		<div id="user_access">
			<b><%= "polls.user_access".t %></b>
			<%= link_to "global.info".t, "#", class:"show-tooltip pull-right badge badge-default", data:{placement:"top",toggle:"tooltip", title:"polls.user_access_tooltip".t}  %>

			<br/><br/>
			<div id="voting_access" class="btn-group" data-toggle="buttons">
				<% Poll::VOTING_ACCESS.each do |access_role|%>

					 <label id="vote_<%= access_role %>" class="btn btn-default">
				  		<%= radio_button_tag "vote_access[]", access_role  %>
				  	 	<%= "polls.#{access_role}_access".t  %>
				  </label>

				<% end %>



			</div>
		</div>

		<hr/>

<%= terms_field_for 1 , @poll %>
		<hr>
		<div class="row">
			<%= t.submit "global.save".t , :class => "btn btn-lg btn-default btn-primary pull-left "  %>
			<div id="published" class="btn-group pull-right" data-toggle="buttons">

			 <label id="published_true" class="btn btn-md btn-default">
			  		<%= t.radio_button :published, true  %>
			  		<%= "polls.published".t %>
			  		
			  	 	
		 	 </label>
		 	 <label id="published_false" class="btn btn-md btn-default">

		 	 	<%= t.radio_button :published, false  %>
		 	 	<%= "polls.draft".t %>
		 	 </label>
		</div>
		</div>
	</div>



<% end %>



  <script type="text/html" id="poll_question">


  		<li class="new_question">
  		  
	  		<div class="input-group">

			  			
				  <input id="poll_questions_attributes_{{random}}_matter" name="poll[questions_attributes][{{random}}][matter]" placeholder="<%= "questions.write_your_question".t %>"  type="text" class="form-control"  />
				 <div class="input-group-btn">
			    	<%= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, "#", :class => "remove_new_question  btn btn-warning " , :title => "questions.remove_question".t %>
			  	</div>
		</div>

		</li>

</script>

<% flash.now[:error] = render 'layouts/shared/error_messages', :target=>@poll if @poll.errors.any? %>

<%= content_for :footer_scripts do %>
	<script >

		$(document).ready(function(){
			window.Questionnaire = new TdB.PollBuilder();
			$(".show-tooltip").tooltip();
			

			$("#user_access label.btn").on("click",function(){
				var _this = this;
				setTimeout(function(){
				$(_this).next().addClass("active");
				$(_this).next().next().addClass("active");
			},10);
				
			});
			$('#vote_<%= @poll.vote_access.first %>').click();
			$('#published_<%= @poll.published %>').click();		
		})

	</script> 
<% end %>
