

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= "polls.title".t %></th>
            <th><%= "polls.status".t %></th>
      <th><%= "polls.total_questions".t %></th>

      <th><%= "polls.total_answers".t %>   </th>
    </tr>
  </thead>
  <tbody>
		<% @polls.each do |poll|%>


            <tr>
              <td>
                <%= link_to  poll.title, poll %>

              </td>
              <td> <%= status_badge poll %></td>
              <td><%= poll.questions.count %></td>
              <td><%= poll.questions.first.answers.count   %></td>
            </tr>

			
		<%end %>
	</tbody>
</table>

<%= link_to "global.new".t, new_poll_path, :class => "btn btn-lg btn-default" if allow?("polls","create") %>

