<%= link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, new_poll_path, :class => "btn btn-lg btn-primary pull-right" ,title: "global.new".t ,style: "position:relative;z-index:1;" if allow?("polls","create") %>
<h1 class="background-title"> <%= "polls.polls_list".t %></h1>





<div class="row">

  <% @polls.each do |poll|%>

    <div class="col-md-offset-1 col-md-10   col-xs-offset-1 col-xs-10 box_container ">
      <div class="status-md pull-right ">
         <%= status_badge poll %>

                <% access = poll.vote_access.first %>

          <span class="label label-default show-tooltip" data-toggle="tooltip" data-title="<%= "polls.#{access}_access_voting_tooltip".t %>" data-placement="auto"><%= "polls.#{access}_access_voting".t %></span>

      </div>

      <div class="clearfix hidden-md"></div>


      <div class="name">
       <h2> <%= link_to poll.title,poll %></h2>
      </div>




      <br/>



      <div class="row">
        <div class="description col-md-9 " style="padding-left:30px;">
          <%= poll.description  %>
        </div>

          <div class= "col-md-3 pull-right">
            <%= "polls.total_questions".t %>: <b><%= poll.questions.count %></b>
            <br/>
            <% unless poll.state == 2%>
              <%= "polls.total_answers".t %>: <b><%= poll.questions.first.answers_count   %></b>
            <% end %>
          </div>
        
      </div>

      
      <%= terms_list(poll) %>
    </div>

  <% end %>
  <div class="row">
   <%= paginate @polls, :window => 2, html: {:class => "pull-right"} %>
 </div>
</div>

<%= content_for :footer_scripts do %>

  <script>

   $(".show-tooltip").tooltip();

  </script>

<% end %>
