<%= link_to "global.new".t, new_poll_path, :class => "btn btn-lg btn-primary pull-right" , style: "position:relative;z-index:1;" if allow?("polls","create") %>
<h1 class="background-title"> <%= "polls.polls_list".t %></h1>





<div class="row">
  <% @polls.each do |poll|%>

    <div class="col-md-offset-1 col-md-10   col-xs-10 box_container ">
      <div class="status-md pull-right hidden-xs">
         <%= status_badge poll %>

      </div>
          <div class= "hidden-md hidden-lg status-xs pull-right">
        <a href="#" class="show-tooltip label label-<%= status_class poll %>" data-placement="left" data-toggle="tooltip" data-title="<%= "polls.#{poll.status}".t %>">&nbsp;&nbsp;</a>
       
      </div>


      <div class="name">
       <h2> <%= link_to poll.title,poll %></h2>
      </div>



      
      <div class="start-end-date">
        <span class=" glyphicon glyphicon-calendar " style="color:#999"></span>
       <em><%= t"global.date" %>: </em><%=  (l poll.start_date, format: :short)%> / <%=  (l poll.end_date, format: :short) if poll.end_date.present? %>
      </div>
      <br/>



      <div class="row">
        <div class="description col-md-9 " style="padding-left:30px;">
          <%= poll.description  %>
        </div>

          <div class= "col-md-3 pull-right">
            <%= "polls.total_questions".t %>: <b><%= poll.questions.count %></b>
            <br/>
            <% unless poll.state == 2%>
              <%= "polls.total_answers".t %>: <b><%= poll.questions.first.answers.count   %></b>
            <% end %>
          </div>
        
      </div>

      
      <%= terms_list(poll) %>
    </div>

  <% end %>
</div>

<%= content_for :footer_scripts do %>

<script>

$(".show-tooltip").tooltip();

</script>

<% end %>
