<h1 class="title" ><%= @poll.title   %></h1>
<div id="status pull-right">
  <span class="">

</div>
<p>
<%= @poll.description %>
</p>
<div class="panel panel-default">
  <div class="panel-body">
    <div id="badges" class=" pull-left">
      <h4 style="margin:0;padding:0">
        <% if @poll.is_open? %>
          <span class=" label label-success"><%= "polls.open".t %></span>
        <%else%>
          <span class=" label label-warning"><%= "polls.close".t %></span>
        <%end%>
      </h4>
    </div>
     &nbsp;<span class=" glyphicon glyphicon-calendar "> <%= "polls.from_%s".t % (l @poll.start_date, format: :short) %><%= "polls.to_%s".t % (l @poll.end_date, format: :short)%></span>
  </div>
</div>




    <br/>
    <br/>
<%= "polls.questions".t %>



<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= "questions.matter".t %></th>
      <th><%= "questions.total_answers".t %></th>
     

      <% if user_signed_in? %>
       <th><%= "questions.my_vote".t %></th>
       <% end %>
    </tr>
  </thead>
  <tbody>
		<% @poll.questions.each do |question|%>


            <tr>
              <td><%= question.matter %></td>

              <td>


                <ul class="list-group vote-results" style="max-width:100px">
          
                  <li class="list-group-item list-group-item-success">
                   <%= "questions.votes_yes".t %><span class="badge pull-right"><%= question.answers.count_yeses %></span>
                 </li>
                 <li class="list-group-item list-group-item-warning ">
                   <%= "questions.votes_no".t %><span class="badge pull-right"><%= question.answers.count_noes %></span>
                 </li>
                 <li class="list-group-item list-group-item-info">
                    
                    Total<span class="badge pull-right"><%= question.answers.count %></span></span>
                  </li>
               </ul>

              </td>
                <% if user_signed_in? %>
                <td>
                  
                    <% if !question.voted?(current_user)&&@poll.is_open? %>
                      <%= link_to "<span class='glyphicon glyphicon-ok-circle'></span>".html_safe, voting_path(question, "yes"), :class => "btn btn-lg btn-success" %>&nbsp;
                      <%= link_to "<span class='glyphicon glyphicon-remove-circle'></span>".html_safe, voting_path(question, "no") , :class => "btn btn-lg btn-warning "%>
                    <% else %>

                      <%= question.voted?(current_user) ? ("questions.you_voted_%s".t % "questions.#{question.answers.my_vote(current_user)}".t) : ("questions.you_didn't_vote".t) %>
                      <%= link_to "questions.vote_again".t, destroy_vote_path(question), :class => "btn btn-xs btn-default" if @poll.is_open? %>

                    <% end %>
                </td>
              <% end %>

            </tr>

			
		<%end %>
	</tbody>
</table>

<% if current_user.admin?  %>
	
	<%= link_to "global.edit".t   , edit_poll_path(@poll), :class => "btn-default btn" %>
	<%= link_to "global.delete".t , @poll , :method => :delete, :confirm => "global.are_you_sure?".t %>


<% end %>



