<div class="row">
  <h1 class="title col-md-10" ><%= @poll.title   %></h1>
  <div id="status pull-right">
    <div id="badges" class=" col-md-1">
      <h4 style="margin:0;padding:0">
        
        <%= status_badge @poll %>
      </h4>

    </div>

  </div>
<div class="clearfix"></div>

</div>
<br/>
 
<div class="bs-callout bs-callout-info row">


     <span class=" glyphicon glyphicon-calendar "> <%= "polls.from_%s".t % (l @poll.start_date, format: :short) %><%= "polls.to_%s".t % (l @poll.end_date, format: :short)%></span>

</div>
<br/><br/>

<div id="content" class="row">

  <div class="col-md-8 col-xs-12">
    <p>
     <%= @poll.description %>
    </p>
  </div>

  <div  class="col-md-4 col-xs-6 ">
      <p>
       <%= print_terms_for(@poll,1) %>
    </p>
  </div>
</div>



    <br/>
    <br/>
<h4><%= "polls.questions".t %></h4>



 <hr/>    
<% @poll.questions.each do |question|%>


 <div class="row">

    <h3 class="col-md-9"><%= question.matter %></h3>
    <br/>
          

    <div class="col-sm-2 pull-right">
      <%= "questions.total".t %>
      <ul class="list-group vote-results" style="max-width:100px">

        <li class="list-group-item list-group-item-success">
         <%= "questions.votes_yes".t %><span class="badge pull-right"><%= question.answers.count_yeses %></span>
       </li>
       <li class="list-group-item list-group-item-warning ">
         <%= "questions.votes_no".t %><span class="badge pull-right"><%= question.answers.count_noes %></span>
       </li>
       <li class="list-group-item list-group-item-info">
          
          <%= "questions.total".t %><span class="badge pull-right"><%= question.answers.count %></span></span>
        </li>
     </ul>
   </div>


  <% if user_signed_in? %>
    <div class="col-sm-2 pull-left">
    
      
      <% if !question.voted?(current_user)&&@poll.is_votable? %>
        <h5><%= "questions.my_vote".t  %></h5>
        <%= link_to "<span class='glyphicon glyphicon-ok-circle'></span>".html_safe, voting_path(question, "yes"), :class => "btn btn-lg btn-success" %>&nbsp;
        <%= link_to "<span class='glyphicon glyphicon-remove-circle'></span>".html_safe, voting_path(question, "no") , :class => "btn btn-lg btn-warning "%>
      <% else %>

         <h4><%= question.voted?(current_user) ? ("questions.you_voted_%s".t % "questions._#{question.answers.my_vote(current_user)}".t) : ("questions.you_didn't_vote".t) %></h4>
        
        <%= link_to "questions.vote_again".t, destroy_vote_path(question), :class => "btn btn-xs btn-default" if @poll.is_votable? %>

      <% end %>
    </div>
  <% end %>
  </div>
  <hr/>			
<%end %>


<% if  allow?("polls","update")&&@poll.is_editable?  %>
	<%= link_to "global.edit".t   ,
               edit_poll_path(@poll),
               :class => "btn-default btn" %>
	<%= link_to "global.delete".t , @poll ,
              :method => :delete,
              :confirm => "global.are_you_sure?".t %>
<% end %>



