<h1 class="title" ><%= @poll.title   %></h1>

<p>
<%= @poll.description %>
</p>

<%= "polls.questions".t %>



<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= "questions.matter".t %></th>
      <th><%= "questions.total_answers".t %></th>
      <th><%= "questions.votes_yes".t %></th>
      <th><%= "questions.votes_no".t %></th>
      <% if user_signed_in? %>
       <th><%= "questions.my_vote".t %></th>
       <% end %>
    </tr>
  </thead>
  <tbody>
		<% @poll.questions.each do |question|%>


            <tr>
              <td><%= question.matter %></td>
              <td><%= question.answers.count %></td>
              <td><%= question.answers.count_yeses %></td>
              <td><%= question.answers.count_noes %></td>
              <% if user_signed_in? %>
                <td>
                  <%= link_to "vote yes", voting_path(question, "yes"), :class => "btn btn-xs btn-default" %>&nbsp;
                  <%= link_to "vote no", voting_path(question, "no") , :class => "btn btn-xs btn-default"%>
                </td>
              <% end %>

            </tr>

			
		<%end %>
	</tbody>
</table>

<% if user_signed_in?  %>
	
	<%= link_to "global.edit".t   , edit_poll_path(@poll), :class => "btn-default btn" %>
	<%= link_to "global.delete".t , @poll , :method => :delete, :confirm => "global.are_you_sure?".t %>


<% end %>



