<div id="newmember_container" >

	<h1> <%= @role.name %> </h1>

<div id="filter" >

<%= form_tag({controller: "roles", action: "newmember"}, method: "post", class: "nifty_form") do %>

 <%= label_tag(:filter, "Filter:") %>
 <%= text_field_tag(:filter) %>
 <%= submit_tag("Filter") %>
 <% end %>


</div>

<div id="user_list">

	<table id="userstable">

<tr>
	<th> email </th>
	<th></th>
	<th></th>
	<th></th>
</tr>
<% @users.each { |u| %>
<tr>
<th><%= u.email%></th>
<th><%= link_to 'Add to role',  memberships_path(user_id: u, role_id: @role), method: "post" %></th>
<th></th>
<th></th>
</tr>
<% } %>
</table>

</div>

</div>