<div id="taxonomy-<%= taxonomy.id %>" class=" taxonomy-print ">
 
  <em style="font-size:0.8em"><%= taxonomy.name  %></em>
  
  <ul id="taxonomy-<%= taxonomy.id %>" style=" list-style:none">
  
    <% terms.each do |t|  %>
    
    <li class="taxonomy-term term-<%=t.id%>  ">
    
      <span class="label label-default"><%= t.name %></span>
    </li>
    
    
    
    <% end %>
  </ul>
  <div class="clearfix"></div>
</div>