<div id="taxonomy-<%= taxonomy.id %>" class=" taxonomy-print ">
 
  <h5><%= taxonomy.name  %></h5>
  
  <ul id="taxonomy-<%= taxonomy.id %>" class=" list-group">
  
    <% terms.each do |t|  %>
    
    <li class="taxonomy-term term-<%=t.id%>  list-group-item">
    
      <%= t.name %>
    </li>
    
    
    
    <% end %>
  </ul>
  <div class="clearfix"></div>
</div>