<div  id="single-asset" class="col-md-7 ">
  <h1><%= t("misc.list_taxonomies")%></h1>
  <br/>
  <div class="panel-group taxonomies" id="accordion2">
   <% @taxonomies.each_with_index do |taxonomy, index|%>
   <div class="panel panel-default">
      <div class="panel-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="<%="#collapse#{index}" %>">
            <h4><%=  taxonomy.name %></h4>
        </a>
      </div>
      
      <% @list = @terms.select {|f| f["taxonomy_id"]== taxonomy.id } %>

      
      <div  id="<%="collapse#{index}" %>" class="panel-collapse collapse <%= "in" if index == 0 %>">
        <div class="panel-body">
      
          <ul>
            
           <%= render "list_elements" , :list => @list %>
          
          </ul>

          <%= button_create_term(taxonomy.id, (taxonomy.name), @term) %>
        </div> 
      </div> 
    </div> </div>
    <% end %>
  </div>
</div>
<%= content_for :footer_scripts do %>
  <script >

    $(document).ready(function(){
      window.taxonomies = new TdB.Taxonomies_Terms();

    })

  </script> 
<% end %>