<!DOCTYPE html>
<html>
<head>
  <title>TeatroDelBarrio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id='container'>

    <%= render "layouts/header" %>


    <div id="separator" class="centered"></div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  <article>
    <div class="centered container">
      <%= yield %>
    </div>
  </article>
  <div id="footer">
  
  
  </div>

	</div>
</body>
</html>





  
